examples/Arrowhead Example Flow.json
[
  {
      "id": "8042baa8.501448",
      "type": "tab",
      "label": "Arrowhead Provider",
      "disabled": false,
      "info": ""
  },
  {
      "id": "49603659.5128c",
      "type": "tab",
      "label": "Arrowhead Consumer",
      "disabled": false,
      "info": ""
  },
  {
      "id": "2d96d36e.01b8d4",
      "type": "ah core service",
      "host": "https://127.0.0.1",
      "port": "8443",
      "path": "/serviceregistry",
      "name": "AH Registry",
      "tls": "b7b20170.91ab7",
      "usetls": true
  },
  {
      "id": "9f6e29bb.f1a798",
      "type": "ah system",
      "address": "172.17.29.87",
      "port": "1880",
      "name": "node_red_contrib_prov"
  },
  {
      "id": "9f6e29bb.f1a799",
      "type": "ah core service",
      "host": "https://127.0.0.1",
      "port": "8441",
      "path": "/orchestrator",
      "name": "AH Orchestrator",
      "tls": "963ba12d.feceb8",
      "usetls": true
  },
  {
      "id": "c6e50e6a.8e8608",
      "type": "ah system",
      "address": "172.17.29.87",
      "port": "0",
      "name": "node_red_contrib_cons"
  },
  {
      "id": "b09cc1e9.f76ad",
      "type": "tls-config",
      "name": "Sysop",
      "cert": "cert/sysop.crt",
      "key": "cert/sysop.key",
      "ca": "",
      "certname": "",
      "keyname": "",
      "caname": "",
      "servername": "",
      "verifyservercert": false
  },
  {
      "id": "b7b20170.91ab7",
      "type": "tls-config",
      "name": "node_red_contrib_prov",
      "cert": "cert/node_red_contrib_prov.crt",
      "key": "cert/node_red_contrib_prov.key",
      "ca": "",
      "certname": "",
      "keyname": "",
      "caname": "",
      "servername": "",
      "verifyservercert": false
  },
  {
      "id": "963ba12d.feceb8",
      "type": "tls-config",
      "name": "node_red_contrib_cons",
      "cert": "cert/node_red_contrib_cons.crt",
      "key": "cert/node_red_contrib_cons.key",
      "ca": "",
      "certname": "",
      "keyname": "",
      "caname": "",
      "servername": "",
      "verifyservercert": false
  },
  {
      "id": "aaf194bb.4ec898",
      "type": "ah authinfo",
      "authinfo": "",
      "name": "Consumer Auth. Info."
  },
  {
      "id": "ccab25a0.ba5918",
      "type": "ah authinfo",
      "authinfo": "",
      "name": "Provider Auth. Info."
  },
  {
      "id": "9fc1ea88.886df8",
      "type": "ah core service",
      "host": "https://127.0.0.1",
      "port": "8445",
      "path": "/authorization",
      "name": "AH Auth Service",
      "tls": "b7b20170.91ab7",
      "usetls": true
  },
  {
      "id": "48b1efaf.b74cc",
      "type": "ah service registration",
      "z": "8042baa8.501448",
      "sr": "2d96d36e.01b8d4",
      "system": "9f6e29bb.f1a798",
      "path": "/provider",
      "definition": "node_red_contrib_prov_service",
      "version": "1",
      "name": "",
      "replace": true,
      "authinfo": "ccab25a0.ba5918",
      "token": true,
      "x": 310,
      "y": 120,
      "wires": [
          [
              "86e261a2.69c4f"
          ]
      ]
  },
  {
      "id": "839ff66.9218208",
      "type": "template",
      "z": "8042baa8.501448",
      "name": "Prepare response",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{\n    \"message\": \"Hello world\"\n}",
      "output": "json",
      "x": 750,
      "y": 220,
      "wires": [
          [
              "71056bf6.542f7c"
          ]
      ]
  },
  {
      "id": "20b9f371.4803ac",
      "type": "http in",
      "z": "8042baa8.501448",
      "name": "",
      "url": "/provider",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 270,
      "y": 240,
      "wires": [
          [
              "18b888c5.5e7e17"
          ]
      ]
  },
  {
      "id": "8369b287.fc04c",
      "type": "http in",
      "z": "8042baa8.501448",
      "name": "",
      "url": "/provider",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 280,
      "y": 360,
      "wires": [
          [
              "4b1472de.228704"
          ]
      ]
  },
  {
      "id": "71056bf6.542f7c",
      "type": "http response",
      "z": "8042baa8.501448",
      "name": "OK",
      "statusCode": "200",
      "headers": {},
      "x": 950,
      "y": 220,
      "wires": []
  },
  {
      "id": "9cff476f.850208",
      "type": "ah service discoverer",
      "z": "49603659.5128c",
      "orchestrator": "9f6e29bb.f1a799",
      "requesterSystem": "c6e50e6a.8e8608",
      "serviceDefinition": "node_red_contrib_prov_service",
      "authinfo": "aaf194bb.4ec898",
      "x": 390,
      "y": 80,
      "wires": [
          [
              "743b4cea.1f3efc"
          ]
      ]
  },
  {
      "id": "5a64d565.605c9c",
      "type": "debug",
      "z": "49603659.5128c",
      "name": "Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 1120,
      "y": 100,
      "wires": []
  },
  {
      "id": "7673b1df.a74d08",
      "type": "catch",
      "z": "49603659.5128c",
      "name": "",
      "scope": null,
      "uncaught": false,
      "x": 270,
      "y": 220,
      "wires": [
          [
              "55c60e2a.0cf39"
          ]
      ]
  },
  {
      "id": "55c60e2a.0cf39",
      "type": "debug",
      "z": "49603659.5128c",
      "name": "ERROR",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "statusVal": "",
      "statusType": "auto",
      "x": 560,
      "y": 220,
      "wires": []
  },
  {
      "id": "2d8cdbce.4d70a4",
      "type": "ah service discoverer",
      "z": "49603659.5128c",
      "orchestrator": "9f6e29bb.f1a799",
      "requesterSystem": "c6e50e6a.8e8608",
      "serviceDefinition": "node_red_contrib_prov_service",
      "authinfo": "aaf194bb.4ec898",
      "x": 390,
      "y": 140,
      "wires": [
          [
              "82154b23.aafde8"
          ]
      ]
  },
  {
      "id": "e4780fe8.f21cd",
      "type": "inject",
      "z": "49603659.5128c",
      "name": "",
      "props": [],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 150,
      "y": 140,
      "wires": [
          [
              "2d8cdbce.4d70a4"
          ]
      ]
  },
  {
      "id": "a025274e.a034c",
      "type": "inject",
      "z": "49603659.5128c",
      "name": "",
      "props": [],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 150,
      "y": 80,
      "wires": [
          [
              "9cff476f.850208"
          ]
      ]
  },
  {
      "id": "4f0ef2f6.8610c4",
      "type": "http request",
      "z": "49603659.5128c",
      "name": "Call Service",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 930,
      "y": 100,
      "wires": [
          [
              "5a64d565.605c9c"
          ]
      ]
  },
  {
      "id": "743b4cea.1f3efc",
      "type": "function",
      "z": "49603659.5128c",
      "name": "Prepare GET",
      "func": "msg.method = \"GET\";\nmsg.token = msg.payload[0].authorizationTokens[\"HTTP-SECURE-JSON\"];\nmsg.headers = {\n    Authorization: \"Bearer \"+msg.token\n}\nmsg.url = msg.payload[0].url;\nmsg.payload = null;\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 690,
      "y": 80,
      "wires": [
          [
              "4f0ef2f6.8610c4"
          ]
      ]
  },
  {
      "id": "82154b23.aafde8",
      "type": "function",
      "z": "49603659.5128c",
      "name": "Prepare POST",
      "func": "msg.method = \"POST\";\nmsg.token = msg.payload[0].authorizationTokens[\"HTTP-SECURE-JSON\"];\nmsg.headers = {\n    Authorization: \"Bearer \"+msg.token\n}\nmsg.url = msg.payload[0].url;\nmsg.payload = {\n    \"message\": \"post\"\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 700,
      "y": 140,
      "wires": [
          [
              "4f0ef2f6.8610c4"
          ]
      ]
  },
  {
      "id": "4b1472de.228704",
      "type": "ah token validator",
      "z": "8042baa8.501448",
      "auth": "9fc1ea88.886df8",
      "publickey": "",
      "name": "",
      "x": 510,
      "y": 360,
      "wires": [
          [
              "71056bf6.542f7c"
          ],
          [
              "325e6613.591de2"
          ]
      ]
  },
  {
      "id": "18b888c5.5e7e17",
      "type": "ah token validator",
      "z": "8042baa8.501448",
      "auth": "9fc1ea88.886df8",
      "publickey": "",
      "name": "",
      "x": 510,
      "y": 240,
      "wires": [
          [
              "839ff66.9218208"
          ],
          [
              "325e6613.591de2"
          ]
      ]
  },
  {
      "id": "325e6613.591de2",
      "type": "http response",
      "z": "8042baa8.501448",
      "name": "Forbidden",
      "statusCode": "403",
      "headers": {},
      "x": 960,
      "y": 360,
      "wires": []
  },
  {
      "id": "86e261a2.69c4f",
      "type": "debug",
      "z": "8042baa8.501448",
      "name": "Registration result",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 630,
      "y": 120,
      "wires": []
  },
  {
      "id": "d6d21b74.e77f78",
      "type": "inject",
      "z": "8042baa8.501448",
      "name": "Inject invalid token",
      "props": [
          {
              "p": "token",
              "v": "bla",
              "vt": "str"
          }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "x": 270,
      "y": 480,
      "wires": [
          [
              "4b1472de.228704"
          ]
      ]
  }
]